* {
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: transparent;
  background-image: url("/pan-corteza-blanda.jpg");
  max-width: 100%;
  background-position: center;
  background-attachment: fixed;
}

h1 {
    margin-top: 45px;
    color: rgb(224, 9, 2);
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    color: rgb(238, 26, 18);

}

img {
    display: block;
    max-width: 20%;
    border-radius: 50%;
}
a{
    display: block;
    color: rgb(196, 12, 51);
    background-color: transparent;
}   